# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.vsidx
*.dll
*.pdb
*.dll
TourOfHeroes/obj/Debug/net6.0/project.razor.json
*.dll
TourOfHeroes/obj/Debug/net6.0/TourOfHeroes.GeneratedMSBuildEditorConfig.editorconfig
TourOfHeroes/obj/Debug/net6.0/TourOfHeroes.pdb
TourOfHeroes/obj/Debug/net6.0/TourOfHeroes.dll
TourOfHeroes/obj/Debug/net6.0/TourOfHeroes.csproj.CoreCompileInputs.cache
TourOfHeroes/obj/Debug/net6.0/TourOfHeroes.assets.cache
TourOfHeroes/obj/Debug/net6.0/refint/TourOfHeroes.dll
TourOfHeroes/obj/Debug/net6.0/ref/TourOfHeroes.dll
TourOfHeroes/obj/Debug/net6.0/project.razor.json
TourOfHeroes/bin/Debug/net6.0/TourOfHeroes.pdb
TourOfHeroes/bin/Debug/net6.0/TourOfHeroes.dll
TourOfHeroes/.vs/TourOfHeroes/v17/.suo
TourOfHeroes/.vs/TourOfHeroes/v17/.futdcache.v2
TourOfHeroes/.vs/TourOfHeroes/DesignTimeBuild/.dtbcache.v2
TourOfHeroes/.vs/ProjectEvaluation/tourofheroes.projects.v5.2
TourOfHeroes/.vs/ProjectEvaluation/tourofheroes.metadata.v5.2
