<div *ngIf="hero">
  <h2>{{ 'HERO_DETAILS.TITLE' | translate: { heroName: hero.name | uppercase} }}</h2>
  <form [formGroup]="heroForm" class="edit-form">
    <div><span>{{ 'HERO_DETAILS.ID_LABEL' | translate }}</span>{{ hero.id }}</div>

    <mat-form-field *ngIf="!readOnly" appearance="fill">
      <mat-label>{{ 'HERO_DETAILS.NAME_LABEL' | translate }}</mat-label>
      <input [disabled]="readOnly" matInput formControlName="name"
        placeholder="{{ 'HERO_DETAILS.NAME_LABEL' | translate }}" />
      <mat-error *ngIf="heroForm.get('name')!.invalid && heroForm.get('name')!.touched">

        <div *ngIf="heroForm.get('name')!.errors?.['required']">
          {{ 'HERO_DETAILS.NAME_REQUIRED_ERROR' | translate }}
        </div>
        <div *ngIf="heroForm.get('name')!.errors?.['minlength']">
          {{ 'HERO_DETAILS.NAME_MINLENGTH_ERROR' | translate }}
        </div>

      </mat-error>

    </mat-form-field>
    <p *ngIf="readOnly">{{ 'HERO_DETAILS.NAME_LABEL' | translate }}: {{hero.name}}</p>

    <mat-form-field appearance="fill" *ngIf="!readOnly">
      <mat-label>{{ 'HERO_DETAILS.JOIN_DATE_LABEL' | translate }}</mat-label>
      <input [disabled]="readOnly" matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>{{ 'HERO_DETAILS.JOIN_DATE_HINT' | translate }}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p *ngIf="readOnly">{{ 'HERO_DETAILS.JOIN_DATE_LABEL' | translate }}: {{hero.date | date}}</p>


    <mat-form-field appearance="fill" *ngIf="!readOnly">
      <mat-label>{{ 'HERO_DETAILS.PEOPLE_SAVED_LABEL' | translate }}</mat-label>
      <input matInput type="number" formControlName="peopleSaved"
        placeholder="{{ 'HERO_DETAILS.PEOPLE_SAVED_LABEL' | translate }}" type="number">
    </mat-form-field>
    <p *ngIf="readOnly">{{ 'HERO_DETAILS.PEOPLE_SAVED_LABEL' | translate }}: {{hero.peopleSaved}}</p>


    <mat-form-field appearance="fill" *ngIf="!readOnly">
      <mat-select formControlName="countryId" [disabled]="readOnly">
        <mat-label>Select Country</mat-label>
        <mat-option [value]="-1"></mat-option>
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="readOnly">Country: {{heroCountry?.name || 'Unknown'}}</p>

    <img *ngIf="heroForm.controls['countryId'].value | countryFlag as flag" [src]="flag" width="60px" height="40px">


    <div *ngIf="!readOnly">
      <app-image-uploader (pictureBase64)="getPictureBase64($event)" [image]="hero.picture"></app-image-uploader>
    </div>
    <img *ngIf="readOnly" [src]="hero.picture">

    <div>
      <button mat-icon-button (click)="goBack()">
        <mat-icon aria-hidden="false" aria-label="go back">arrow_back</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Basic" (click)="toggleReadOnly()" aria-label="save button">
        <mat-icon aria-hidden="false">
          {{ readOnly ? 'edit' : 'save' }}
        </mat-icon>
      </button>
    </div>
  </form>
</div>